/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
/* 
.card {
    width: 20vw;
    height: 30vh;
  } */
  

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hej
{
    min-width: 100vw;
    margin-left: -20px;
    margin-right: -20px;


}

main{
    overflow-x: hidden;

}

#para {
    font-family: 'Montserrat', sans-serif; /* nowoczesna czcionka */
    font-size: 1.237rem;
    line-height: 1.5;
    color: #333;
    text-align: justify;
}


.gradient-custom-2 {
    /* fallback for old browsers */
    background: rgb(83,127,190);
    background: -moz-linear-gradient(90deg, rgba(83,127,190,1) 34%, rgba(234,67,59,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(83,127,190,1) 34%, rgba(234,67,59,1) 100%);
    background: linear-gradient(90deg, rgba(83,127,190,1) 34%, rgba(234,67,59,1) 100%);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }