{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Sell Stocks</h4>
                    </div>
                    <div class="card-body">
                        <p>Welcome to our stock trading page! Here you can easily sell stocks of your choice. Select the stock you want to sell from the dropdown list below and enter the number of shares you wish to sell. Our platform will process your request and execute the trade as quickly as possible. Don't miss out on potential profits, start investing today!</p>
                        <form action="/sell" method="post">
                            <div class="form-group py-2">
                                <select id="symbol" name="symbol" class="form-select">
                                    <option disabled selected>Symbol</option>
                                    {% for row in rows %}
                                    <option name="symbol" value="{{row[0]}}">{{row[0]}} ({{row[1]}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group  py-2">
                                <input class="form-control" id="shares" name="shares" placeholder="Shares" min="1" type="number">
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Sell</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
